* {
  font-family: "PT Sans Caption", sans-serif;
}
.bookmark {
  background-color: #f7ecde;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-family: "Pacifico", cursive;
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 3.1rem;
}
h1::after {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  background-color: #fec260;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s all;
}
h1:hover::after {
  height: 60%;
}
.head-text {
  border-bottom: dotted 3px;
  border-top: dotted 3px;
}
h2 {
  background-image: linear-gradient(
    to right,
    rgb(77, 151, 108),
    rgb(194, 181, 71)
  );
  font-family: "Righteous", sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Submit {
  background-color: #cc5f41;
  transition: 0.3s all;
  width: 150px;
  border: none;
}
.Submit:hover {
  background-color: rgb(209, 81, 45);
}
input {
  border: rgb(209, 81, 45) !important;
}
input:focus {
  outline: none !important;
  box-shadow: 0 0 2px 0.25rem rgba(233, 64, 17, 0.7) !important;
}

.boxShadowGreen {
  border: 1px rgba(14, 172, 48, 0.7) solid !important;
}
.boxShadowGreen:focus {
  box-shadow: 0 0 2px 0.25rem rgba(14, 172, 48, 0.7) !important;
}
.boxShadowRed {
  border: 1px rgba(255, 65, 65, 0.7) solid !important;
}
.boxShadowRed:focus {
  box-shadow: 0 0 2px 0.25rem rgba(255, 65, 65, 0.7) !important;
}
.inline #warining,
.inline #wariningEmail {
  color: #dc3545;
}
.inline #check,
.inline #checkEmail {
  color: green;
}

.pop-box {
  background-color: #ffffff;
  width: 600px;
  height: 200px;
  border-radius: 5px;
}
.pop-box p i {
  color: rgb(209, 81, 45);
  border-radius: 50%;
  border: 2px solid rgb(209, 81, 45);
  padding: 2px;
}
.pop-box button {
  top: 0;
  right: 0;
  color: rgb(122, 117, 117);
}
.pop-box .dots {
  top: 0;
  left: 0;
}
